@model MVCEmpresa.Models.MovimientoInventario

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MovimientoInventario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodMovimientoInventario" class="control-label"></label>
                <input asp-for="CodMovimientoInventario" class="form-control" />
                <span asp-validation-for="CodMovimientoInventario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCatalogoInventario" class="control-label"></label>
                <select asp-for="IdCatalogoInventario" class ="form-control" asp-items="ViewBag.IdCatalogoInventario"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdTipoMovInventario" class="control-label"></label>
                <select asp-for="IdTipoMovInventario" class ="form-control" asp-items="ViewBag.IdTipoMovInventario"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdOrden" class="control-label"></label>
                <select asp-for="IdOrden" class ="form-control" asp-items="ViewBag.IdOrden"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
